.comment-header{
    min-width: 1080px;
}
@media screen and (max-width:1690px){
    .comment-header{
        min-width: 730px;
    }
}
@media screen and (max-width:990px){
    .comment-header{
        min-width: 380px;
    }
}
.slider{
    background-color:#fafafa;
    
}    
.commentcard{
    min-width: 300px;
    max-width: 300px;
    /*border: 1px solid red;*/
    box-shadow: 0px 20px 20px 0px #3b3d481a;
}
.commentcard .capture{
    background-color: #EEF1F4;
}
.commentcard .customer-text{
    text-align: left;
}
.hsd{
    border:1px solid red;
}